<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        {% block title %}
        <title>Welcome to the wishlists site</title>
        {% endblock %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />

    </head>
    <body>
        <div class="container">

            <div class="row">
                <div class="col-md-12 jumbotron">
                    <div class="text-center">
                        <h1>{% block header_text %}{% endblock %}</h1>
                        <form method="POST" action="{% block form_action %}{% endblock %}" novalidate>
                            {{ form.non_field_errors }}
                            <div class="form-group row">
                                {% if form.text.errors %}
                                <div class="form-group has-error">
                                    <div class="form-text">{{ form.text.errors }}</div>
                                </div>
                                {% endif %}
                                <label for="{{ form.text.id_for_label }}" class="col-md-2 col-form-label">Wish: </label>
                                <div class="col-md-10">
                                    {{ form.text }}
                                </div>
                            </div>
                            <div class="form-group row">
                                {% if form.url.errors %}
                                <div class="form-group has-error">
                                    <div class="form-text">{{ form.url.errors }}</div>
                                </div>
                                {% endif %}
                                <label for="{{ form.url.id_for_label }}" class="col-md-2 col-form-label">Wish Website Address: </label>
                                <div class="col-md-10">
                                    {{ form.url }}
                                </div>
                            </div>
                            <div class="form-group row">
                                {% if form.price.errors %}
                                <div class="form-group has-error">
                                    <div class="form-text">{{ form.price.errors }}</div>
                                </div>
                                {% endif %}
                                <label for="{{ form.price.id_for_label }}" class="col-md-2 col-form-label">Price: </label>
                                <div class="col-md-10">
                                    {{ form.price }}
                                </div>
                            </div>
                            <div class="form-group row">
                                {{ form.number.errors }}
                                <label for="{{ form.number.id_for_label }}" class="col-md-2 col-form-label">Number desired: </label>
                                <div class="col-md-10">
                                    {{ form.number }}
                                </div>
                            </div>
                            <div class="form-group row">
                                {{ form.priority.errors }}
                                <label for="{{ form.priority.id_for_label}}" class="col-md-2 col-form-label">{{ form.priority.label }}: </label>
                                <div class="col-md-10">
                                    <select name="{{ form.priority.label.lower }}" class="form-control">
                                        {% for option in form.priority %}
                                        {{ option.tag }}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                {% block table %}
                {% endblock %}
                </div>
            </div>

        </div>

        {% block javascript %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>