{% extends 'base.html' %}

{% block header_text %}Your item purchases{% endblock %}

{% block table %}
                <!-- <a href="{# url 'return_bought_items' #}" class="btn btn-primary btn-md float-right mb-2 ml-2" role="link">Return Purchase</a>-->
                <a href="{% url 'archive_bought_items' %}" class="btn btn-primary btn-md float-right mb-2" role="link">Archive Purchases</a>
                <table class="table table-hover table-responsive-md">
                    <thead class="thead-light">
                        <tr class="text-center">
                            <th class="col-auto col-md-8" scope="col">Desired Item</th>
                            <th class="col-auto col-md-1" scope="col">Ordered</th>
                            <th class="col-auto col-md-1" scope="col">Delivered</th>
                            <th class="col-auto col-md-1" scope="col">Wrapped</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                        <tr class="text-center">
                            <td class="col-auto col-md-6" {% if item.notes %}data-toggle="tooltip" data-placement="right" title="{{ item.notes }}"{% endif %}>
                                {% if item.url %}<a href="{{ item.url }}">{{ item.text }} ({{ item.wishlist.owner.first_name }})</a>{% else %}{{ item.text }} ({{ item.wishlist.owner.first_name }}){% endif %}
                            </td>
                            <td class="col-auto col-md-1"></td>
                            <td class="col-auto col-md-1"></td>
                            <td class="col-auto col-md-1"></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
{% endblock %}