{% extends 'base.html' %}

{% block header_text %}
    {% if user.is_authenticated %}
        {% if user.wishlist_set.all %}
            Your lists
        {% else %}
            Start a new wishlist
        {% endif %}
    {% elif not user.is_authenticated %}
        Start a new wishlist
    {% endif %}
{% endblock %}

{% block main %}
                        {% if user.is_authenticated %}
                        <table class="table">
                            {% for wishlist in user.wishlist_set.all %}
                            <tr>
                                <td><a href="{% url 'view_list' wishlist.uuid %}">{{ wishlist.uuid }}</a></td>
                                <td><a class="btn btn-primary float-right " role="button" href="{% url 'edit_list' wishlist.uuid %}">Edit</a></td>
                            </tr>
                            {% endfor %}
                        </table>
                        {% else %}
                        <p class="">Log in to create a new list</p>
                        {% endif %}
{% endblock %}

