{% extends 'base.html' %}

{% block header_text %}{{ wishlist.title }}{% endblock %}

{% block main %}
                    {% if user.is_authenticated and user == wishlist.owner %}
                    <a class="btn btn-primary float-right " role="button" href="{% url 'edit_list' wishlist.uuid %}">Edit</a>
                    {% endif %}
                    <table class="table">
                        {% for item in wishlist.item_set.all %}
                        <tr>
                            <td>{{ item.text }}</td>
                            {% if user.is_authenticated %}
                            <td><a href="{% url 'view_list_item' item.uuid %}" class="btn btn-primary" role="button">View</a></td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </table>

{% endblock %}